html, body, .container {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .spacer {
    background-image: url(assets/spacer.svg);
    background-repeat: no-repeat;
} */

.main__image-container {
    height: 25vh;
}

.main__image-container > img {
    aspect-ratio: 1;
}

.banner {
    width: 100%;
    background-repeat: no-repeat;
}

.header__image--a {
    background-image: url(assets/desktop/image-hero-left.png);
}

.header__image--b {
    display: none;
}

.header__image--c {
    background-image: url(assets/desktop/image-hero-right.png);
}


.footer {
    background-image: url(assets/desktop/image-footer.jpg);
}

@media screen and (max-width: 768px) {
    .header__image--b {
        display: block;
        background-image: url(assets/desktop/image-hero-right.png);
    }
    .header__image--c {
        display: none;
    }
    .footer {
        background-image: url(assets/tablet/image-footer.jpg);
    }
}

@media screen and (max-width: 375px) {
    .header__image--a {
        background-image: url(assets/mobile/image-footer.jpg);
    }
    .header__image--b, .header__image--c {
        display: none;
    }
    .footer {
        background-image: url(assets/mobile/image-footer.jpg);
    }
}
